<div class="container export">
    <h2 class="text-center">Change Password</h2>
    <form role="form" class="col-lg-4 col-md-6 col-sm-12 col-lg-offset-4 col-md-offset-3" name="resetForm" ng-submit="change()" novalidate spellcheck="false" autocomplete="on">
        <fieldset>
            <div class="form-group">
                <label for="password">Old password</label>
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="Old Password" required autocomplete="on" ng-minlength="5">
                <span class="text-danger" ng-show="resetForm.password.$error.required && attempted" id="oldpassword-required">Old password is required.</span>
                <span class="text-danger" ng-show="!resetForm.password.$error.required && resetForm.password.$error.equals && attempted" id="oldpassword-incorrect">Old password doesn't match our records.</span>
            </div>
            <div class="form-group">
                <label for="passwordNew">New password</label>
                <input type="password" class="form-control" name="passwordNew" ng-model="passwordNew" placeholder="New Password" required autocomplete="on" ng-minlength="5">
                <span class="text-danger" ng-show="resetForm.passwordNew.$error.required && attempted" id="password-required">
                    Password is required.
                </span>
                <span class="text-danger" ng-show="resetForm.passwordNew.$error.minlength && attempted" id="password-too-short">
                    Password must exceed 5 characters.
                </span>
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Retype new password</label>
                <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" ng-model="passwordRepeat" placeholder="Confirm Password" required autocomplete="on" equals="{{password}}">
                <span class="text-danger" ng-show="resetForm.passwordRepeat.$error.required && attempted" id="confirmation-required">
                    Password confirmation is required.
                </span>
                <span class="text-danger" ng-show="resetForm.passwordRepeat.$error.minlength && attempted">
                    Password confirmation must exceed 5 characters.
                </span>
                <span class="text-danger" ng-show="!resetForm.passwordRepeat.$error.minlength && !resetForm.passwordRepeat.$error.required && resetForm.passwordRepeat.$error.equals && attempted" id="passwords-dont-match">
                    Password confirmation doesn't match.
                </span>
            </div>
            <button type="submit" class="btn btn-primary" ng-class="{ disabled: loading }">
                <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> <span>Changing Password...</span></span>
                <span ng-show="!loading">Change Password</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
        </fieldset>
    </form>
</div>
