<div class="container export">
    <h2 class="text-center">API Tokens</h2>

    <script type="text/ng-template" id="tokens_revoke.html">
        <form ng-submit="ok()" name="revokeTokenForm">
            <div class="modal-header h3"><span>Warning</span><a class="close" ng-click="cancel()">&times;</a></div>
            <div class="modal-body">
                <div>You are about to revoke the token<br><b>{{object.token}}</b>.</div>
                <div>This operation is irreversible!</div>
                <br><br>
                <div>Please input your password to confirm the operation.</div>
                <input type="password" class="form-control" ng-model="object.password" name="password" placeholder="Input password">
            </div>
            <div class="text-right modal-footer">
                <button class="btn btn-primary" type="submit">OK</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="tokens_create.html">
        <form ng-submit="ok()" name="createTokenForm">
            <div class="modal-header h3"><span>Create token</span><a class="close" ng-click="cancel()">&times;</a></div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-xs-8">
                            <label for="expiration-date" style="padding: 7px 0px;">Expiration date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="object.date" is-open="object.opened" ng-required="true" show-button-bar="false" id="expiration-date"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-model="object.date">
                            <timepicker hour-step="1" minute-step="15" show-meridian="false"></timepicker>
                        </div>
                    </div>
                </div>
                <div>Please input your password to confirm the operation.</div>
                <input type="password" class="form-control" ng-model="object.password" name="password" placeholder="Input password">
            </div>
            <div class="text-right modal-footer">
                <button class="btn btn-primary" id="btn-createTokenButton" type="submit">OK</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Token</th>
            <th>Countdown (Days)</th>
            <th>Expires on</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in tokens | orderBy: 'countdown' track by $index" ng-class="{warning : (t.countdown < 86400)}">
                <td>
                    {{t.token}}
                </td>
                <td>
                    <span ng-if="t.countdown < 86400">&lt; 1 Day</span>
                    <span ng-if="t.countdown >= 86400">{{(t.countdown / 60 / 60 / 24) | number:0 }} Days</span>

                </td>
                <td>
                    {{t.expiration | date : 'dd-MMM-yyyy hh:mm:ss a'}}
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="revoke(t)">Revoke</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="create()" id="btn-create">Create new token</a>
    </div>
</div>
